@model Versus.Models.MailService

    Content-Type: text/html; charset=utf-8
<html>

<head>
    <title></title>
</head>
<body>
    Witaj,

    <br />
    <br />
    @Model.Header

    <br />
    <br />
    @Model.MailContent
    <br />
    <br />
    <br />
    <br />
    <br />
    @Model.NumerZamowienia

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <img src="cid:@Model.SomeImageContentId" alt="SomeImage" />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    Pozdrawiam,
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    @(Model.Signature)
</body>
</html>